Source: libcariad-image-bmp
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-image-bmp
Replaces: libdisplaycore-image-bmp
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Image
Depends: libcariad-core
Provides: BMP.h
Description: BMP
 Display BMP files from flash memory or RAM



